HW1/build/CommitmentIsScary
HW1/build/FrenchDispatch
HW1/build/NameYourIssue
HW1/build/Simulate
HW1/build/CMakeFiles/CommitmentIsScary.dir/OoO470.c.o
HW1/build/CMakeFiles/FrenchDispatch.dir/OoO470.c.o
HW1/build/CMakeFiles/NameYourIssue.dir/OoO470.c.o
HW1/build/CMakeFiles/Simulate.dir/OoO470.c.o
HW1/given_tests/01/user_output.json
HW1/given_tests/02/user_output.json
HW1/given_tests/03/user_output.json
HW1/given_tests/04/user_output.json
HW1/given_tests/05/user_output.json
HW1/given_tests/06/user_output.json
HW1/given_tests/07/user_output.json
HW1/given_tests/08/user_output.json
HW1/given_tests/09/user_output.json
HW1/CMakeFiles/*